/* variable declaration */
:root {
    --main-btn-color: #FD6E0A;
    --second-color: #474747;
}


/* css for overall section */

.body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

.btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding: 2vh 5vh;
    background-color: var(--main-btn-color);
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}



/* header section css */

.header {
    background-color: #FFF8F3;
    padding: 1vh 20vh;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, right bottom;
}

.header .name {
    font-weight: 600;
    font-size: 40px;
}

.header span {
    color: var(--main-btn-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: end;
    gap: 8vh;
}

.menu1,
.menu2 {
    font-size: 15px;
    line-height: 20px;
    color: var(--second-color);
}



/* banner css */

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-details-starter {
    font-weight: 400;
    font-size: 4vh;
    color: var(--second-color);
}

.banner-details-name {
    font-weight: 700;
    font-size: 10vh;
    color: #181818;
    margin: 0;
    padding: 0;

}

.btn-contact {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding: 2vh 5vh;
    border: 1px solid #FD6E0A;
    border-radius: 10px;
    color: #FD6E0A;
    background-color: white;
    margin-left: 2vh;
}

.two-button {
    display: flex;
}

.banner-picture {
    flex: 1;
    width: 100%;
}



/* about me section css */

.aboutMe-container {
    background-color: #FFF8F3;
    margin: 12vh 30vh;
    text-align: center;
    padding: 15vh;
    border-radius: 15px;
}

.aboutMe-container-contact {
    display: flex;
    justify-content: space-evenly;
}

.aboutMe-container-contact p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.aboutMe-container-contact h5 {
    font-weight: 400;
    font-size: 3vh;
    line-height: 30px;
    margin: 0;
    padding: 0;
}


/* what I do section css */
.whatIDo-container {
    margin: 0 30vh;
    padding-bottom: 15vh;
}

.whatIDo-container-starter {
    text-align: center;
    padding: 0 15vh;
}

.whatIDo-container-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vh;

}

.skills-card {
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    gap: 2vh;
    padding: 2vh;
    justify-items: start;
}

.skills-card h3 {
    font-weight: 700;
    font-size: 15px;
    color: #181818;
}

.skills-card p {
    font-weight: 400;
    font-size: 13px;
    color: #757575;
}



/* Summary of resume section */

.summary-conatiner {
    margin: 0 30vh;
    padding-bottom: 15vh;
}

.summary-container-title h3 {
    text-align: center;
    padding-bottom: 2vh;
    font-size: 1.2rem;
}

.summary-container-description {
    display: flex;
    gap: 3vh;
}

.summary-container-description h4 {
    font-size: 15px;
    color: #474747;
}

.summary-container-description h3 {
    color: #474747;
}

.summary-container-description p {
    font-size: 12px;
}

.summary-container-description hr {
    border: 1px solid #D1D1D1;
}

.btn-in-summary {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.btn-summary {
    font-weight: 700;
    font-size: 12px;
    padding: 2vh 3vh;
    background-color: var(--main-btn-color);
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    align-items: center;
    margin: 0 auto;
}

/* footer section css */
footer {
    background: #FFF8F3;
}

.footer-container {
    margin: 0 30vh;
    padding: 10vh 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-container h3 {
    font-size: 3vh;
    color: #181818;

}

.footer-container p {
    font-size: 12px;
}

.footer-container-left-icons {
    display: flex;
    gap: 3vh;
}

.footer-container-right input,
textarea {
    padding: 2vh;
    border: none;
    border-radius: 5px;
    width: 60%;
    margin-bottom: 1vh;
    color: #757575;
}

.btn-submit {
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    padding: 2vh 5vh;
    background-color: var(--main-btn-color);
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    margin-top: 3vh;
}




/* respnsive, media quary */

@media only screen and (max-width: 576px) {

    /* header section */
    body {
        text-align: center;
    }

    .header {
        background-image: none;
        padding: 2vh;
    }

    .name,
    .menu1,
    .menu2 {
        margin: 1vh;
    }

    nav,
    .menu,
    .banner-container,
    .two-button {
        flex-direction: column;
        align-items: center;
        gap: 1vh;
    }

    .banner-container img {
        width: 100%;
    }

    /* about me setion */

    .aboutMe-container,
    .whatIDo-container,
    .whatIDo-container-starter {
        margin: 2vh;
        padding: 2vh;
    }


    .aboutMe-container-contact {
        flex-direction: column;
    }

    .whatIDo-container-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 1vh;

    }

    /* summary of resume section */

    .summary-conatiner {
        margin: 2vh;
        padding: 2vh;
    }

    .summary-container-description {
        flex-direction: column;
    }

    /* footer section */

    .footer-container {
        grid-template-columns: 1fr;
        margin: 2vh;
        padding: 2vh;
    }

    .footer-container-left-icons {
        justify-content: center;
    }
}